<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Creation</title>
</head>
<h1>Create Product</h1>
<hr/>
<form method="POST">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name">
    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea>
    <label for="type">Type:</label>
    <select id="type" name="type">
        <option selected disabled>Choose type...</option>
        <option>Food</option>
        <option>Domestic</option>
        <option>Health</option>
        <option>Cosmetic</option>
        <option>Other</option>
    </select>
    <input type="submit" value="Create Product">
</form>
<hr/>
<a href="/">Back to Home page</a>
<body>

</body>
</html>