<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat Creation</title>
    <style>input{display: block;}</style>
</head>
<h1>Create a Cat!</h1>
<form method="POST">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" placeholder="Kitty name...">
    <label for="breed">Breed:</label>
    <input id="breed" type="text" name="breed" placeholder="Breed...">
    <label for="color">Color:</label>
    <input id="color" type="text" name="color" placeholder="Color...">
    <label for="numberOfLegs">Number of legs:</label>
    <input id="numberOfLegs" type="number" name="numberOfLegs" placeholder="Number of legs...">
    <input type="submit" value="Create Cat">
</form>
<br/>
<a href="/">Back To Home</a>
<body>

</body>
</html>